
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.card {
    width: 300px;
}

.color-black {
    font-style:italic;
    font-size: 20px;
}
